doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    title Rito Plz! My AP Items!
    link(href="lib.css" rel="stylesheet")
    link(href="app.css" rel="stylesheet")

  body(ng-app="ritoplzmyapitems")
    #contentWrapper
        a.btn.btn-info.btn-lg(ng-click='open()', ng-controller='InfoCtrl')
            span.glyphicon.glyphicon-circle-info
            |  Info
        div(class="container" ng-view="")
        #bottomCornerPicture
            img(src='images/trianglecorner.png', style='position: absolute; bottom: 0; right: 0; z-index: 600')
    footer
      div
        | RitoPlzMyAPItems isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
    script(src="lib.js")
    script(src="templates.js")
    script(src="app.js")