#contentWrapper {
  border-top: solid black 5px;
  position: relative;
  background-image: url("images/trianglebanner.jpg");
  background-repeat: no-repeat;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #00c6ff;
  margin-top: 200px;
  margin-bottom: 0px;
  padding: 50px;
}
footer > div {
  max-width: 900px;
  width: 50%;
  margin: 0 auto;
  color: #00c6ff;
}

.championHeader {
  color: #ffffff;
  width: 100%;
  background-color: #000000;
  position: relative;
}
.championHeader .content {
  margin-left: 20px;
}
.championHeader .name {
  font-size: 1.9em;
  font-weight: 300;
  display: block;
}
.championHeader .title {
  color: #999;
  font-size: 0.9em;
}
.championHeader .classes {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.championHeader .classes .tagsWrapper {
  display: inline-block;
}
.championHeader .icon,
.championHeader .content {
  vertical-align: middle;
  display: inline-block;
}
.categoryWrapper {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 10px 10px 10px 10px;
}
.categoryItem {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
}
.categoryItem img {
  width: 48px;
}
.categoryItem span {
  display: block;
}
.championContent h3 {
  color: #afdefa;
  font-size: 1.2em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background-color: #0d77b6;
}
.championContent span {
  display: block;
  text-align: center;
}
.championContent [data-mydirect] {
  width: 350px;
  height: 350px;
}

body {
  position: absolute;
  color: #555;
}
.fillWidth {
  width: 100%;
  text-align: center;
}
.fillCenter {
  margin: auto;
}
.smalltext {
  color: white;
  font-family: verdana;
  font-size: 11px;
}
.floatright {
  float: right;
}
.floatleft {
  float: left;
}
.clear {
  clear: both;
}
.scroller::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.scroller::-webkit-scrollbar-track {
  background: white;
}
.scroller::-webkit-scrollbar-thumb {
  background: #ddd;
  visibility: hidden;
}
.scroller:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.scroller {
  overflow: auto;
  color: #444;
  height: 100%;
}
.padding10 {
  padding: 10px;
}
.btn-group .btn {
  background: #000;
  color: #fff;
  font-size: 20px;
  margin: 10px 25px 10px 25px;
  text-align: center;
  border: 0;
  transition: all 0.3s ease 0s;
  font-variant: small-caps;
}
.btn-group .active {
  background: #fff;
  color: #00c6ff;
}
.btn-group .btn.active:hover {
  color: #00c6ff;
}
.btn-group .btn:hover,
.btn-group  > .btn:first-child:hover {
  background: #fff;
  color: #000;
}
#header {
  height: 0px;
  padding-left: 950px;
  padding-top: 50px;
  margin: auto;
}
.wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 350px;
  margin: 0 auto;
  background-color: #fff;
}
.wrap img {
  width: 100%;
  height: auto;
  display: block;
}
.wrap:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  background-color: inherit;
  padding-bottom: 5%;
  right: 90%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -ms-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
}
.wrap:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  background-color: inherit;
  padding-bottom: 5%;
  left: 40%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
}
h1 {
  display: inline-block;
}
.form-control {
  width: 200px;
  display: inline-block;
}
.modal {
  display: block;
}
a {
  cursor: pointer;
}

.bar.positive {
  fill: steelblue;
}
.bar.negative {
  fill: brown;
}
.bar.positive:hover {
  fill: orange;
}
.bar.negative:hover {
  fill: orange;
}
.xAxis text {
  font: 10px sans-serif;
}
.xAxis path,
.xAxis line {
  fill: none;
  shape-rendering: crispEdges;
}
.yAxis text {
  font: 10px sans-serif;
  color: #000;
}
.yAxis path,
.yAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.glyphicon-triangle-top {
  color: green;
}
.glyphicon-triangle-bottom {
  color: red;
}
.glyphicon-triangle-top.timestamp {
  color: red;
}
.glyphicon-triangle-bottom.timestamp {
  color: green;
}

.list-group-item img {
  width: 48px;
  height: 48px;
  display: inline-block;
}
blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
  border-left: none;
}
blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}
blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
blockquote cite:before {
  content: "\2014 \2009";
}
a {
  color: #0d77b6;
  cursor: pointer;
}
a:hover {
  color: #00c6ff;
}
.spotlightWrapper .content .cell {
  display: table-cell;
  width: 40%;
  border-left: dotted #ccc 2px;
  padding-left: 50px;
  padding-right: 50px;
}
.spotlightWrapper .content .cell:first-child {
  border: none;
  padding-left: 0px;
}
.spotlightWrapper .content img {
  margin-bottom: 10px;
}
.spotlightSection {
  border-left: dotted #ccc 2px;
}
.spotlightWrapper {
  padding: 100px;
}
.spotlightWrapper:first-child {
  margin-top: 100px;
}
.spotlightWrapper .title {
  font-size: 1.5em;
  color: #00c6ff;
}
.spotlightWrapper .content {
  width: 100%;
}
.spotlightWrapper .row {
  display: table;
}
