.container
    .page-header
        h1 Last.fm Top 50 Tags
        p
            | Click on a tag to view the top 50 artists. Click on another tag to see how the list of artists for the two tags differ. Overlapping artists will appear in aqua blue. Continue clicking to make more comparisons.
    .row
    .row
        .col-xs-12.col-sm-6.col-md-6.col-lg-5.col-xl-5
            .row
                .col-sm-12.col-md-12.col-lg-12
                    form(name='myForm')
                        input(type='radio', ng-model='tagsize', value='reach')
                        |  Reach
                        input(type='radio', ng-model='tagsize', value='taggings')
                        |  Taggings
                toptag-chart
