.btn-group
    label.btn.btn-primary(ng-model='filterRadio', btn-radio="'winner'") Win %
    label.btn.btn-primary(ng-model='filterRadio', btn-radio="'pickRate'") Pick %
    label.btn.btn-primary(ng-model='filterRadio', btn-radio="'timestamp'") Time Completed
d3-scatter(data='apItems', filter='filterRadio', on-click='d3OnClick(item)')



