header
    h1 RitoPlz! My AP Items for
    input.form-control(type='text', ng-model='championSelected', placeholder='Champions', typeahead='champion as champion.name for champion in champions | filter:{name:$viewValue}', typeahead-template-url='main/championTemplate.html')
    ul.nav.navbar-nav.navbar-right
        //button.btn(ng-click='open()', ng-controller="InfoCtrl") INFO
        button.btn(ng-click='open()', ng-controller='InfoCtrl')
            span.glyphicon.glyphicon-circle-info
            |  Info
.container-fluid
    .row
        .col-sm-3.col-md-3.col-lg-3.sidebar
            .sidePane(ng-include=" 'detail/detail.html' ", ng-controller="DetailCtrl")
        .row(ng-include=" 'scatter/scatter.html' ", ng-controller="ScatterCtrl")
        .row(ng-include=" 'showcase/showcase.html' ", ng-controller="ShowcaseCtrl")

footer
    | RitoPlzMyAPItems isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.