script(type='text/ng-template', id='itemTemplate.html').
    <a>
    <img ng-src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/{{match.model.id}}.png" width="16">
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>
script(type='text/ng-template', id='championTemplate.html').
    <a>
    <img ng-src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/champion/{{match.model.key}}.png" width="16">
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>



header
    h1 RitoPlz! My AP Items for
    input.form-control(type='text', ng-model='championSelected', placeholder='Champions', typeahead='champion as champion.name for champion in champions | filter:{name:$viewValue}', typeahead-template-url='championTemplate.html')
    ul.nav.navbar-nav.navbar-right
        li(ng-include=" 'info/info.html' ", ng-controller="InfoCtrl")
.container-fluid
    .row
        .col-sm-3.col-md-3.col-lg-3.sidebar
            .sidePane(ng-include=" 'detail/detail.html' ", ng-controller="DetailCtrl")
        .col-sm-9.col-md-9.col-lg-9.main
            // TODO: These two panes should only take 50% of the remaining space after the title and footer
            .row(ng-include=" 'scatter/scatter.html' ", ng-controller="ScatterCtrl")
            .row(ng-include=" 'showcase/showcase.html' ")

footer
    | RitoPlzMyAPItems isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.