script(type='text/ng-template', id='itemTemplate.html').
    <a>
    <img ng-src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/{{match.model.id}}.png" width="16">
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>
script(type='text/ng-template', id='championTemplate.html').
    <a>
    <img ng-src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/champion/{{match.model.key}}.png" width="16">
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>

.header
    | RitoPlz! My
    input.form-control(type='text', ng-model='itemSelected', placeholder='AP Items', typeahead='apItem as apItem.name for apItem in apItems | filter:{name:$viewValue}', typeahead-template-url='itemTemplate.html')
    | for
    input.form-control(type='text', ng-model='championSelected', placeholder='Champions', typeahead='champion as champion.name for champion in champions | filter:{name:$viewValue}', typeahead-template-url='championTemplate.html')
    ul.nav.navbar-nav.navbar-right
        li
            button.btn.btn-default(type='button', ng-click="open('lg')") REPLACEME w/ Info Icon
.container-fluid
    .row
        .col-sm-3.col-md-2.sidebar
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            // TODO: These two panes should only take 50% of the remaining space after the title and footer
            .mainPane(ng-include=" 'scatter/scatter.html' ", ng-controller="ScatterCtrl")
            .mainPane(ng-include=" 'carousel/carousel.html' ", ng-controller="CarouselCtrl")
.footer
    | RitoPlzMyAPItems isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.