.list-group-item img {
  width: 48px;
  height: 48px;
  display: inline-block;
}
.spotlightWrapper .content .cell {
    display: table-cell;
    width: 40%;
    border-left: dotted #ccc 2px;
    padding-left: 50px;
    padding-right: 50px;
}

.spotlightWrapper .content .cell:first-child {
    border: none;
    padding-left: 0px;
}

.spotlightWrapper .content img {
    margin-bottom: 10px;
}
