.col-lg-3
    .panel.panel-default
        .panel-heading.clearfix
            h3.panel-title.pull-left Nashor's Tooth
        .list-group
            .list-group-item
                p.list-group-item-text In the past, this was how you considered this item: Are you playing Kayle? Is this still the case?
            .list-group-item
                img(ng-src="{{ 'http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/3115.png' }}")
            .list-group-item
                //.list-item-count {{ value['pickRate'] }}
                .list-item-count test
                .list-item-count test
                .list-item-count test
.col-lg-3
    .panel.panel-default
        .panel-heading.clearfix
            h3.panel-title.pull-left Will of the Ancients
        .list-group
            .list-group-item
                p.list-group-item-text Minor nerf to killing minions, but buffed against champions with ~50 MR: Is spell vamp wurf?
            .list-group-item
                img(ng-src="{{ 'http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/3152.png' }}")
            .list-group-item
                //.list-item-count {{ value['pickRate'] }}
                .list-item-count test
                .list-item-count test
                .list-item-count test
.col-lg-3
    .panel.panel-default
        .panel-heading.clearfix
            h3.panel-title.pull-left Rylai's and Liandry's
        .list-group
            .list-group-item
                p.list-group-item-text Rylai's: the new permaslow. The synergy is real here... or is it only for Kog'maw?
            .list-group-item
                img(ng-src="{{ 'http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/3116.png' }}")
                img(ng-src="{{ 'http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/3151.png' }}")

            .list-group-item
                //.list-item-count {{ value['pickRate'] }}
                .list-item-count test
                .list-item-count test
                .list-item-count test
.col-lg-3
    .panel.panel-default
        .panel-heading.clearfix
            h3.panel-title.pull-left NLR vs. Fiendish Codex
        .list-group
            .list-group-item
                p.list-group-item-text Codex + Book is now comparable to NLR at 1200 gold. ARE THESE CHOICES MEANINGFUL?
            .list-group-item
                img(ng-src="{{ 'http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/1058.png' }}")
                img(ng-src="{{ 'http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/3108.png' }}")
                img(ng-src="{{ 'http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/1052.png' }}")
            .list-group-item
                //.list-item-count {{ value['pickRate'] }}
                .list-item-count test
                .list-item-count test
                .list-item-count test