.spotlightSection
    .spotlightWrapper
        h1
            b Showcase Items
        .content
            .cell
                .title Nashor's Tooth
                p
                    | Before the AP item change patch (5.13), there was a limited number of viable carriers for Nashor's Tooth.
                    | Is this still the case or have the changes to the item opened up more variety? Has this
                    | item found its own niche?
                br
                blockquote
                    | [W]hile it's always been a great pickup for auto-attacking mages, that attack speed to ability power ratio meant you had to be pretty invested in your on-hit procs to even consider the Tooth. We're hoping this change will make it a little more enticing as a niche pickup for people not... Kayle.
                    cite
                        | Riot in
                        a(href='http://na.leagueoflegends.com/en/news/game-updates/patch/patch-513-notes') Patch 5.13 Notes
            .cell
                center
                    img(src='http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/3115.png')
                table.table.table-condensed
                    tr
                        td Pick Rate
                        td
                            | {{ nashor['pickRate'] }}% (
                            span(ng-if="nashor['pickDiff'] > 0") +
                            | {{ nashor['pickDiff'] }}%
                            i.glyphicon(ng-class="{'glyphicon-menu-up green': nashor['pickDiff'] > 0, 'glyphicon glyphicon-menu-down red': nashor['pickDiff'] < 0}")
                            | )
                    tr
                        td Win Rate
                        td
                            | {{ nashor['winner'] }}% (
                            span(ng-if="nashor['winDiff'] > 0") +
                            | {{ nashor['winDiff'] }}%
                            i.glyphicon(ng-class="{'glyphicon-menu-up green': nashor['winDiff'] > 0, 'glyphicon glyphicon-menu-down red': nashor['winDiff'] < 0}")
                            | )
    .spotlightWrapper.hideMe
        .content
            .cell
                .title Will of the Ancients
                p
                    | Will of the Ancients was changed so it no longer has spell vamp, but you heal for 15% of the damage dealt,
                    | calculated before your opponent's resistances. While this is a minor nerf to killing minions, it is a buff
                    | against champions with ~50 MR. How do these changes balance out? Is it worth purchasing?
                br
                blockquote
                    | This means you'll be spell vamping for less, but you won't need as much (high base damage, resistance penetration, etc) to get your heal ball rolling.
                    cite
                        | Riot in
                        a(href='http://na.leagueoflegends.com/en/news/game-updates/patch/patch-513-notes') Patch 5.13 Notes
            .cell
                center
                    img(src='http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/3152.png')
                table.table.table-condensed
                    tr
                        td Pick Rate
                        td
                            | {{ wota['pickRate'] }}% (
                            span(ng-if="wota['pickDiff'] > 0") +
                            | {{ wota['pickDiff'] }}%
                            i.glyphicon(ng-class="{'glyphicon-menu-up green': wota['pickDiff'] > 0, 'glyphicon glyphicon-menu-down red': wota['pickDiff'] < 0}")
                            | )
                    tr
                        td Win Rate
                        td
                            | {{ wota['winner'] }}% (
                            span(ng-if="wota['winDiff'] > 0") +
                            | {{ wota['winDiff'] }}%
                            i.glyphicon(ng-class="{'glyphicon-menu-up green': wota['winDiff'] > 0, 'glyphicon glyphicon-menu-down red': wota['winDiff'] < 0}")
                            | )
                    tr
                        td Change in Heals
                        td
                            | {{ wota['heal'] }}% (
                            span(ng-if="wota['healDiff'] > 0") +
                            | {{ wota['healDiff'] }}%
                            i.glyphicon(ng-class="{'glyphicon-menu-up green': wota['healDiff'] > 0, 'glyphicon glyphicon-menu-down red': wota['healDiff'] < 0}")
                            | )
    .spotlightWrapper.hideMe
        .content
            .cell
                .title Rylai's and Liandry's
                p
                    | Rylai's: the new permaslow.
                    | The synergy is real here... or is it only for Kog'maw?
                br
                blockquote
                    p
                        | With just the Liandry's under a champion's belt, any damage-over-time effects deal their normal damage plus 2% of a target's current health per second. But when that target is under a movement-impairing effect, that damage is doubled. Can you guess what grants all area of effect spells the ability to impair movement? That's right, Rylai's Crystal Scepter.
                    p
                        | The combination of the two is downright brutal on just about any mage with big AOE spells that happen to apply a DoT.
                    cite
                        | Taylor "Riot RoboTayCo" Cocke in
                        a(href='http://na.lolesports.com/articles/magical-ap-item-changes-unicorns-love') The Magical AP Item Changes with the Unicorns of Love
            .cell
                center
                    img(src='http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/3116.png')
                    img(src='http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/3151.png')
                table.table.table-condensed
                    tr
                        td Pick Rate
                        td
                            | {{ rylaiLiandry['pickRate'] }}% (
                            span(ng-if="rylaiLiandry['pickDiff'] > 0") +
                            | {{ rylaiLiandry['pickDiff'] }}%
                            i.glyphicon(ng-class="{'glyphicon-menu-up green': rylaiLiandry['pickDiff'] > 0, 'glyphicon glyphicon-menu-down red': rylaiLiandry['pickDiff'] < 0}")
                            | )
                    tr
                        td Win Rate
                        td
                            | {{ rylaiLiandry['winner'] }}% (
                            span(ng-if="rylaiLiandry['winDiff'] > 0") +
                            | {{ rylaiLiandry['winDiff'] }}%
                            i.glyphicon(ng-class="{'glyphicon-menu-up green': rylaiLiandry['winDiff'] > 0, 'glyphicon glyphicon-menu-down red': rylaiLiandry['winDiff'] < 0}")
                            | )
                    tr
                        td Change in Damage
                        td
                            | {{ rylaiLiandry['magicDmg'] }}% (
                            span(ng-if="rylaiLiandry['magicDmgDiff'] > 0") +
                            | {{ rylaiLiandry['magicDmgDiff'] }}%
                            i.glyphicon(ng-class="{'glyphicon-menu-up green': rylaiLiandry['magicDmgDiff'] > 0, 'glyphicon glyphicon-menu-down red': rylaiLiandry['magicDmgDiff'] < 0}")
                            | )
                    tr
                        td Change in Crowd Control
                        td
                            | {{ rylaiLiandry['crowdControl'] }}% (
                            span(ng-if="rylaiLiandry['crowdControlDiff'] > 0") +
                            | {{ rylaiLiandry['crowdControlDiff'] }}%
                            i.glyphicon(ng-class="{'glyphicon-menu-up green': rylaiLiandry['crowdControlDiff'] > 0, 'glyphicon glyphicon-menu-down red': rylaiLiandry['crowdControlDiff'] < 0}")
                            | )
    .spotlightWrapper.hideMe
        .content(style='z-index: 700')
            .cell(style='padding-right: 0px')
                .title NLR vs. Fiendish Codex
                p
                    | 5.13 reduced the cost and effectiveness of the Needlessly Large Rod (NLR). Now, a set of the Codex + Book are comparable to the NLR.
                br
                blockquote(style='position: relative; left: -20px')
                    | Super high level challenge: right now, AP mages bring a mix of damage and utility in their kits, but standard item builds have pretty much centered on more damage instead of getting more utility or reacting to the situation... Ultimately we want to offer more choices for more mages throughout the game, and we're doing this by bringing a little parity to the ability power board.
                    cite
                        | Riot in
                        a(href='http://na.leagueoflegends.com/en/news/game-updates/patch/patch-513-notes') Patch 5.13 Notes
            .cell(style='padding-left:20px')
                table
                    th
                    th
                        img(src='http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/1058.png')
                    th
                        img(src='http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/3108.png')
                        |  +
                        img(src='http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/1052.png')
                    tr
                        td
                            b Cost
                        td 1250
                        td 1255 (820 + 435)
                    tr
                        td
                            b Stats
                        td +60 ability power
                        td
                            | +50 ability power
                            br
                            | +10% cooldown reduction
                    tr
                        td
                            b Pick Rate
                        td
                            | {{ nlr['pickRate'] }}% ({{ nlr['pickDiff'] }}%
                            i.glyphicon(ng-class="{'glyphicon-menu-up green': nlr['pickDiff'] > 0, 'glyphicon glyphicon-menu-down red': nlr['pickDiff'] < 0}")
                            |                                         )
                        td
                            | {{ fiendish['pickRate'] }}% (
                            span(ng-if="fiendish['pickDiff'] > 0") +
                            | {{ fiendish['pickDiff'] }}%
                            i.glyphicon(ng-class="{'glyphicon-menu-up green': fiendish['pickDiff'] > 0, 'glyphicon glyphicon-menu-down red': fiendish['pickDiff'] < 0}")
                            |                                         )
                    tr
                        td
                            b Wins
                        td
                            | {{ nlr['winner'] }}% (
                            span(ng-if="fiendish['winDiff'] > 0") +
                            | {{ nlr['winDiff'] }}%
                            i.glyphicon(ng-class="{'glyphicon-menu-up green': nlr['winDiff'] > 0, 'glyphicon glyphicon-menu-down red': nlr['winDiff'] < 0}")
                            |                                         )
                        td
                            | {{ fiendish['winner'] }}% ({{ fiendish['winDiff'] }}%
                            i.glyphicon(ng-class="{'glyphicon-menu-up green': fiendish['winDiff'] > 0, 'glyphicon glyphicon-menu-down red': fiendish['winDiff'] < 0}")
                            |                                         )
                    tr
                        td
                            b Acquisition Time
                        td
                            | {{ nlr['timestamp'] }} ({{ nlr['timestampDiff'] }}
                            i.glyphicon(ng-class="{'glyphicon-menu-up green': nlr['timestampDiff'] > 0, 'glyphicon glyphicon-menu-down red': nlr['timestampDiff'] < 0}")
                            |                                         )
                        td
                            | {{ fiendish['timestamp'] }} ({{ fiendish['timestampDiff'] }}
                            i.glyphicon(ng-class="{'glyphicon-menu-up green': fiendish['timestampDiff'] > 0, 'glyphicon glyphicon-menu-down red': fiendish['timestampDiff'] < 0}")
                            |                                         )
                    tr
                        td
                            b Builds Into
                        td
                            img(src='http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/3003.png', height='40', width='40', data-toggle='tooltip', data-placement='top', title="Archangel's Staff")
                            img(src='http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/3089.png', height='40', width='40', data-toggle='tooltip', data-placement='top', title="Rabadon's Deathcap")
                            img(src='http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/3116.png', height='40', width='40', data-toggle='tooltip', data-placement='top', title="Rylai's Crystal Scepter")
                            img(src='http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/3157.png', height='40', width='40', data-toggle='tooltip', data-placement='top', title="Zhonya's Hourglass")
                            img(src='http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/3285.png', height='40', width='40', data-toggle='tooltip', data-placement='top', title="Luden's Echo")
                        td
                            img(src='http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/3174.png', height='40', width='40', data-toggle='tooltip', data-placement='top', title="Athene's Unholy Grail")
                            img(src='http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/3165.png', height='40', width='40', data-toggle='tooltip', data-placement='top', title='Morellonomicon')
                            img(src='http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/3023.png', height='40', width='40', data-toggle='tooltip', data-placement='top', title='Twin Shadows')
                            img(src='http://ddragon.leagueoflegends.com/cdn/5.7.1/img/item/3152.png', height='40', width='40', data-toggle='tooltip', data-placement='top', title='Will of the Ancients')
