.body
    .champTitle
        img(src='http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/{{championSelected.key}}.png ', alt='{{championSelected.name}}')
        .imgLabel
            h2 {{championSelected.name}}
            h3 {{championSelected.title}}
            h4 {{championSelected.tags}}
    .itemsRow
        h4 Most Common
    .itemsRow
        h4 Most Winning
    .itemCompositionRow
        h4 Overall item Composition
        d3-donut(data='populations')
    .itemsRow
        h4 Most similar to
    .itemsRow
        h4 so try out these items: