h2, h3, h4 {
  padding: 0px;
  margin: 0px;
}
.champ-icon img {
  width: 80px;
  height: 80px;
}
.donut {
  width: 60%;
  height: 60%;
}
.list-item {
  display: inline-block;
  position: relative;
  margin: 5px 4px;
}
.list-item img {
  width: 32px;
  height: 32px;
  margin-bottom: 3px;
  display: block;
}
.list-item-count {
  font-size: 13px;
  text-align: center;
}