.body
    .champTitle
        img(src='http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/Aatrox.png ', alt='Aatrox')
        .imgLabel
            h2 Aatrox
            h3 The Darkin Blade
            h4 Fighter, Tank
    //d3-donut(data='apItems', filter='filterRadio', on-click='d3OnClick(item)')