pageslide(ps-side='left' ps-open='checked', ps-push='true', ps-key-listener='true', ps-size='350px', style='background-color: #eee')
    div
        .championHeader
            .icon
                img(src='http://ddragon.leagueoflegends.com/cdn/5.16.1/img/champion/{{championSelected.key}}.png ', alt='{{championSelected.name}}')
            .content
                span.name {{championSelected.name}}
                span.title {{championSelected.title}}
            .classes
                .tagsWrapper(ng-repeat='tag in championSelected.tags')
                    img(ng-src="{{ 'http://ddragon.leagueoflegends.com/cdn/5.16.1/img/profileicon/' + championTags[tag] + '.png' }}", height='30', width='30', data-toggle='tooltip', data-placement='top', title='{{tag}}')
        .championContentWrapper.scroller
            .championContent
                h3 Most Common Items
                .categoryWrapper
                    .categoryItem(ng-repeat='(key, value) in most_common | limitTo: 3')
                        img(ng-src="{{ 'http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/' + value['item'] + '.png' }}", data-toggle='tooltip', data-placement='top', title='{{value.name}}')
                        span {{ value['pickRate'] }}%
                    span (By Purchase Rate)
            .championContent
                h3 Most Successful Items
                .categoryWrapper
                    .categoryItem(ng-repeat='(key, value) in most_winner | limitTo: 3')
                        img(ng-src="{{ 'http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/' + value['item'] + '.png' }}", data-toggle='tooltip', data-placement='top', title='{{value.name}}')
                        span {{ value['winner'] }}%
                    span (By Win Rate)
            .championContent
                h3 Recommended Items
                .categoryWrapper
                    .categoryItem(ng-repeat='(key, value) in recommended | limitTo: 3')
                        img(ng-src="{{ 'http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/' + value['item'] + '.png' }}", data-toggle='tooltip', data-placement='top', title='{{value.name}}')
                        span {{ value['winner'] }}%
                    span (By Win Rate)
            .championContent
                h3 Item Composition
                d3-donut(data='item_types')
